Package: semplice-artwork-wallpapers-jethro
Version: 1
Architecture: all
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Installed-Size: 6562
Section: misc
Priority: optional
Homepage: http://semplice-linux.org
Description: Wallpaper pack for Semplice for Workstations 2015 "Jethro Tull"
 This package contains the "semplice-jethro" wallpaper pack.
